.header {
    grid-area: h;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10px;
    align-items: center;
    border-radius: 10px;
    margin-top: 5px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  }
  .header__logo {
    width: 40px;
    height: 40px;
    background-image: url(logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 10px;
  }
  .header__burger_btn {
    display: inline-block;
    width: 25px;
    height: 4px;
    border-radius: 10px;
    background-color: #fff;
  }
  .header__burger_btn::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 4px;
    background-color: #fff;
    border-radius: 10px;
    top: 20px;
  }
  .header__burger_btn::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 4px;
    background-color: #fff;
    border-radius: 10px;
    top: 38px;
  }
  @media(max-width:800px) {
    .header {
      background-color:aqua;
    }
  }
  @media(min-width:800px) {
    .header__burger_btn {
      display: none;
    }
  }